:root {
  /*Primary*/
  --primary-100: #61e5c6;
  --primary-200: #2cddb4;
  --primary-300: #1caf8d;
  --primary-400: #178c71;
  --primary-500: #116955;

  /*Secondary*/
  --secondary-100: #fee086;
  --secondary-200: #fdd55d;
  --secondary-300: #fdc627;
  --secondary-400: #fdc10d;
  --secondary-500: #f2b602;

  /*Text*/
  --text: #181818;
  --text-inverted: #efefef;
  --text-ghost: #c8c8c8;

  /*Neutral*/
  --neutral-100: #ffffff;
  --neutral-200: #f4f5f7;
  --neutral-300: #e1e1e1;
  --neutral-400: #737581;
  --neutral-500: #4a4b53;
  --neutral-600: #000000;

  --error-200: #d0454c;
  --error-300: #b54248;
  --error-400: #95353a;
}
