.react-datepicker-popper {
  padding-top: 0px !important;
}
.calendar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.react-datepicker__triangle {
  display: none;
}
.calendar-header > select {
  /* title */
  transition: 150ms ease-in-out;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: var(--text) !important;
  text-align: left !important;
  /* padding and icon */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='none' height='10' viewBox='0 0 8 10' width='10' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path d='M6.86198 0.195312L3.99998 3.05731L1.13798 0.195312L0.195312 1.13798L3.99998 4.94265L7.80465 1.13798L6.86198 0.195312Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 75%;
  padding-right: 2rem;
  margin-left: 1rem;
}
.calendar-header > select:first-child {
  margin: 0;
}

.react-datepicker__month-container {
  border-radius: 0.25rem !important;
  border: 1px var(--neutral-600) solid !important;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  padding: 1rem;
}
.react-datepicker__header.react-datepicker__header--custom {
  background: var(--neutral-100) !important;
  border-bottom: 0 !important;
  padding: 0;
}

.react-datepicker__month {
  margin: 0 !important;
}

.react-datepicker__day-names {
  height: 20px !important;
  margin-bottom: 0 !important;
}

.react-datepicker__day-name {
  transition: 150ms ease-in-out;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: var(--text) !important;
  margin: 0 0.375rem !important;
  height: 20px;
  width: 17px !important;
  text-align: left !important;
}

.react-datepicker__day-name:first-child {
  margin-left: 0 !important;
}
.react-datepicker__day-name:last-child {
  margin-right: 0 !important;
}

.react-datepicker__week {
  height: 20px !important;
}

.react-datepicker__day {
  transition: 150ms ease-in-out;
  font-weight: normal;
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: var(--neutral-500) !important;
  margin: 0 0.375rem !important;
  height: 20px;
  width: 17px !important;
  text-align: left !important;
  padding: auto 0 !important;
}
.react-datepicker__day:first-child {
  margin-left: 0 !important;
}
.react-datepicker__day:last-child {
  margin-right: 0 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: var(--primary-100) !important;
  border-radius: 0.125rem !important;
  color: var(--neutral-100) !important;
}
